/*
 *  Style: Neutral Reading
 *  Author: Gordio – http://gordio.pp.ua/
 */

/* http://meyerweb.com/eric/tools/css/reset/ | v2.0 | 20110126 | License: none (public domain) */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}


/* common */
body {
	background-color: #F2F2F2;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    /*font: 1.5em/1.35em "Futura-CondensedMedium", Futura, "URW Gothic L", "Avant Garde", sans-serif;*/
    font: 1.5em/1.35em Futura, Futura-Medium, "Futura Medium", "URW Gothic L", "Avant Garde", sans-serif;
}

a,
a:visited {
    color: #4F8DDC;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

/* info bar */
.info {
    position: fixed;
    top: 0;
    width: 100%;
	padding: 0.17em 0.5em 0.16em;
    font-size: 0.74em;
    color: #111;
    background: #FAFBFA;
	border-bottom: 1px solid #AAA;
    text-align: right;

    box-sizing: border-box;

    background-image: -webkit-linear-gradient(top, #FEFFFE, #F1F1F1);
    background-image: linear-gradient(top, #FEFFFE, #F1F1F1);
}

.info .author {
}

.info .date {
	float: left;
}

/* title, body */
.container {
    margin: 1em 2em;
    overflow: auto;
}

.title {
    margin-bottom: 1em;
}

.title a:link,
.title a:visited {
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
    color: #333;
    font-size: 1.5em;
    line-height: 1.25em;
    text-decoration: none;
    text-shadow: 0 0.0625em 0 #CCC;
}

.title a:hover {
    text-decoration: underline;
}

.body {
    color: #333;
    font: normal 1.25em/1.5em Georgia, Palatino, Times, 'Times New Roman', serif;
    cursor: text;
}

.body * {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.body img,
.body figure,
.body p,
.body ul,
.body blockquote,
.body pre {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.body img {
    display: block;
	margin: 1em auto;
    padding: 0;
	max-width: 100%;
    height: auto;
    cursor: default;
}
.body img[align~='right'] {
    margin: 0 0 0.5em 0.5em;
}
.body img[align~='left'] {
    margin: 0 0.5em 0.5em 0;
}

.body p {
	display: block;
	clear: both;
}


.body ul {
    padding-left: 1.5em;
    list-style-type: disc;
}
.body ul li {
    padding-bottom: 0.5em;
}

.body blockquote {
	padding-left: 0.5em;
	font-style: italic;
    border-left: 0.5em solid #AAA;
}

.body code {
    padding: 0.1em 0.2em;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: 3px;
}

.body pre {
    padding: 0.125em 0.25em;
    font: 1em/1.25em monospace;
    color: #333;
    background: #FAFAFA;
    border: 1px solid #CCC;
    border-radius: 0.25em;
    overflow: auto;
}

.body pre > code {
    padding: 0;
    background-color: inherit;
    border: none;
    border-radius: 0;
}

.body table {
    min-width: 100%;
    border: 1px solid #FFF;
}

.body table th {
    padding: 0.25em 0.5em;
    background: #FFF;
}

.body table tbody tr {
    background: #F9F9F9;
}
.body table tbody tr:nth-child(odd) {
    background: #F5F5F5;
}

.body table tr td {
    padding: 0.25em 0.5em;
    border: 1px solid #FFF;
}



/* Tomorrow Code Scheme for highlight.js */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/* Tomorrow Comment */
.CodeRay .comment,
.hljs-comment {
  color: #8e908c;
}

/* Tomorrow Red */
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #c82829;
}

/* Tomorrow Orange */
.CodeRay .reserved,
.CodeRay .integer,
.CodeRay .float,
.hljs-number,
.hljs-preprocessor,
.hljs-pragma,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #f5871f;
}

/* Tomorrow Yellow */
.ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
  color: #eab700;
}

/* Tomorrow Green */
.CodeRay .delimiter,
.CodeRay .string,
.CodeRay .content,
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #718c00;
}

/* Tomorrow Aqua */
.hljs-title,
.css .hljs-hexcolor {
  color: #3e999f;
}

/* Tomorrow Blue */
.CodeRay .keyword,
.CodeRay .function,
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #4271ae;
}

/* Tomorrow Purple */
.hljs-keyword,
.javascript .hljs-function {
  color: #8959a8;
}

.hljs {
  display: block;
  overflow-x: auto;
  color: #4d4d4c;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}


